<!DOCTYPE html>
<html>

<head>
{include file="layout/head"}
</head>

<body class="flat-blue">
    <div class="app-container expanded">
        <div class="row content-container">
           {include file="layout/top"}
            {include file="layout/menu"}
            <!-- <div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >免费网站模板</a></div> -->
            {__REPLACE__}
            <!-- Main Content -->
            {include file="layout/foot"}
           
        </div>
       
        </div>
            <!-- Javascript Libs -->
            <script type="text/javascript" src="__LIB__/js/jquery.min.js"></script>
            <script type="text/javascript" src="__LIB__/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="__LIB__/js/Chart.min.js"></script>
            <script type="text/javascript" src="__LIB__/js/bootstrap-switch.min.js"></script>
            <script type="text/javascript" src="__LIB__/js/jquery.matchHeight-min.js"></script>
            <script type="text/javascript" src="__LIB__/js/jquery.dataTables.min.js"></script>
            <script type="text/javascript" src="__LIB__/js/dataTables.bootstrap.min.js"></script>
            <script type="text/javascript" src="__LIB__/js/select2.full.min.js"></script>
            <script type="text/javascript" src="__LIB__/js/ace/ace.js"></script>
            <script type="text/javascript" src="__LIB__/js/ace/mode-html.js"></script>
            <script type="text/javascript" src="__LIB__/js/ace/theme-github.js"></script>
            <!-- Javascript -->
            <script type="text/javascript" src="__JS__/app.js"></script>
            <script type="text/javascript" src="__JS__/index.js"></script>
</body>

</html>
